body,
html,
h1 {
  margin: 0px;
  padding: 0px;
}

/* * {*/
/*  border: 1px solid red;*/
/*} */

#bg {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#00ff09, #07760a);
}

.centerit {
  position: relative;
  font-family: "ZCOOL KuaiLe", cursive;
  padding-top: 20vh;
}

#user {
  height: inherit;
  width: inherit;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 20px;
}

#balance {
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  height: 30vh;
  width: 40vw;
  border-radius: 20px;
}

#credit{
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  height: 35vh;
  width: 30vw;
  border-radius: 20px;
  text-align:center;
}

#expense{
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  height: 60vh;
  width: 30vw;
  border-radius: 20px;
  text-align:center;
}

#random{
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  height: 17vh;
  width: 70vw;
  border-radius: 20px;
  text-align:center;
}

#store{
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  height: 30vh;
  width: 20vw;
  border-radius: 20px;
  text-align:center;
}